.put {
    background-color: #1a69a4;
}

.get {
    background-color: #0ea432;
}

.delete {
    background-color: #b42700;
}

.patch {
    background-color: #ff8f00;
}

.post {
    background-color: #184f7e;
}

.requesticon {
    font-weight: bold;
    color: white;
    height: 15px;
    width: 20px;
    padding: 3px 5px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.namecolumn {
    width: 150px;
    text-align: left;
}

.valuecolumn {
    text-align: left;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flexitem {

}

.fullscreendiv {
    height: 100vh;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.ellipsize {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
}

.header-bar{
    display: inline-block;
    margin-bottom: 5px;
}

#settingsbtn{
    float: right;
    margin-top: 22px;
}

#title{
    float: left;
    width: 90%;
}

@media (min-width: 992px) {
    .ellipsize {
        width: 700px;
    }
}

@media (max-width: 991px) {
    .ellipsize {
        width: 500px;
    }
}

@media (max-width: 656px) {
    .ellipsize {
        width: 250px;
    }
}

/*fix stupid number arrows*/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}