<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" href="../public/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../public/css/main.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/solarized-dark.css}" href="../public/css/solarized-dark.css"/>
</head>
<body>
 <div class="ui container">
     <div class="spaced"></div>
     <h2 class="ui dividing header" th:text="'Bin ' + ${binName}"></h2>
     <div class="spaced"></div>
     <div class="ui icon message">
         <i class="external icon"></i>
         <div class="content">
             <div class="header">Request URL</div>
             <p><a th:text="${requestUrl}" th:href="${requestUrl}"></a></p>
         </div>
     </div>
     <div class="flexcontainer">
         <div class="ui statistic flexitem">
             <div class="value" th:text="${requestCount}"></div>
             <div class="label">Requests</div>
         </div>
         <div class="ui statistic flexitem">
             <div class="value" th:text="${getCount}"></div>
             <div class="label">Get</div>
         </div>
         <div class="ui statistic flexitem">
             <div class="value" th:text="${postCount}"></div>
             <div class="label">Post</div>
         </div>
         <div class="ui statistic flexitem">
             <div class="value" th:text="${deleteCount}"></div>
             <div class="label">Delete</div>
         </div>
         <div class="ui statistic flexitem">
             <div class="value" th:text="${putCount}"></div>
             <div class="label">Put</div>
         </div>
         <div class="ui statistic flexitem">
             <div class="value" th:text="${patchCount}"></div>
             <div class="label">Patch</div>
         </div>
     </div>

     <div class="ui styled fluid accordion">
         <div th:each="request : ${requests}">
             <div class="title">
                 <i class="dropdown icon"></i>
                 <!-- TODO: fix long bodies -->
                 <span class="requesticon" th:classappend="${#strings.toLowerCase(request.method)}" th:text="${request.method}"></span><span class="ellipsize" th:text="${#strings.defaultString(request.body, 'No Body')}"></span>
             </div>
             <div class="content">
                 <div th:if="${not #strings.isEmpty(request.body)}">
                     <h3>Body</h3>
                     <div class="ui divider"></div>
                     <pre>
                         <code th:text="${request.body}"></code>
                     </pre>
                 </div>
                 <div th:if="${not request.headers.isEmpty()}">
                     <h3>Headers</h3>
                     <div class="ui divider"></div>
                     <table>
                         <tr>
                             <th class="namecolumn">Name</th>
                             <th class="valuecolumn">Value</th>
                         </tr>
                         <tr th:each="header : ${request.headers}">
                             <td th:text="${header.key}"></td>
                             <td th:text="${header.value}"></td>
                         </tr>
                     </table>
                 </div>
                 <div th:if="${not request.queryParams.isEmpty()}">
                     <div class="ui divider"></div>
                     <h3>Query Parameters</h3>
                     <div class="ui divider"></div>
                     <table>
                         <tr>
                             <th class="namecolumn">Name</th>
                             <th class="valuecolumn">Value</th>
                         </tr>
                         <tr th:each="param : ${request.queryParams}">
                             <td th:text="${param.key}"></td>
                             <td th:text="${param.value}"></td>
                         </tr>
                     </table>
                 </div>

             </div>
         </div>

     </div>
 </div>
</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/semantic.min.js}" src="../public/js/semantic.min.js"></script>
<script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
<script th:src="@{/js/highlight.pack.js}" src="../public/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>