<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--/*@thymesVar id="pageTitle" type="String"*/-->
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" href="../public/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../public/css/main.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/solarized-dark.css}"
          href="../public/css/solarized-dark.css"/>
</head>
<body>
<!--/*@thymesVar id="currentPage" type="org.springframework.data.domain.Page"*/-->
<div class="ui container">
    <div class="spaced"></div>
    <div th:if="${saveSuccessful}" class="ui success message" id="top-message">
        <i class="close icon"></i>
        <div class="header">Success</div>
        <p>Your settings have been applied successfully</p>
    </div>
    <!--/*@thymesVar id="binName" type="String"*/-->
    <h2 class="ui dividing header header-bar" id="title" th:text="'Bin ' + ${binName}">Bin name</h2>
    <div class="ui button red header-bar" id="emptybtn"><i class="ui icon trash"></i></div>
    <div class="ui button blue header-bar" id="settingsbtn"><i class="ui icon settings"></i></div>
    <div class="ui icon message">
        <i class="external icon"></i>
        <div class="content">
            <div class="header">Request URL</div>
            <p><!--/*@thymesVar id="requestUrl" type="String"*/-->
                <a th:text="${requestUrl}" th:href="${requestUrl}"></a></p>
        </div>
    </div>
    <div class="flexcontainer">
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="requestCount" type="Integer"*/-->
            <div class="value" id="requestCount" th:text="${requestCount}"></div>
            <div class="label">Requests</div>
        </div>
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="getCount" type="Integer"*/-->
            <div class="value" id="getCount" th:text="${getCount}"></div>
            <div class="label">Get</div>
        </div>
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="postCount" type="Integer"*/-->
            <div class="value" id="postCount" th:text="${postCount}"></div>
            <div class="label">Post</div>
        </div>
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="deleteCount" type="Integer"*/-->
            <div class="value" id="deleteCount" th:text="${deleteCount}"></div>
            <div class="label">Delete</div>
        </div>
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="putCount" type="Integer"*/-->
            <div class="value" id="putCount" th:text="${putCount}"></div>
            <div class="label">Put</div>
        </div>
        <div class="ui statistic flexitem">
            <!--/*@thymesVar id="patchCount" type="Integer"*/-->
            <div class="value" id="patchCount" th:text="${patchCount}"></div>
            <div class="label">Patch</div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="flex-menu-container" th:if="${pageCount} > 1">
        <div class="ui pagination menu flex-menu-item">
            <div th:hidden="${currentPage.number} == 0" class="item">
                <a th:if="!${currentPage.first}"
                   th:href="@{''(page=${currentPage.number} - 1 , limit=${currentLimit})}">&lt;&lt;</a>
            </div>
            <div class="item">
                <span th:text="${currentPage.number} + 1"></span><span>/</span><span
                    th:text="${currentPage.totalPages}"></span>
            </div>
            <div th:hidden="${currentPage.number} +1 > ${currentPage.totalPages}" class="item">
                <a th:if="!${currentPage.last}" th:href="@{''(page=${currentPage.number} + 1 , limit=${currentLimit})}">&gt;&gt;
                </a>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="ui styled fluid accordion" id="reqLog">
        <div th:each="request : ${requests}">
            <div class="title">
                <i class="dropdown icon"></i>
                <span class="requesticon" th:classappend="${#strings.toLowerCase(request.method)}"
                      th:text="${request.method}"></span><span class="ellipsize"
                                                               th:text="${#strings.defaultString(request.body, 'No Body')}"></span>
            </div>
            <div class="content">
                <h4 th:text="${request.requestTime}"></h4>
                <div th:if="${not #strings.isEmpty(request.body)}">
                    <h3>Body</h3>
                    <div class="ui divider"></div>
                    <pre>
                         <code class="pretty" th:text="${request.body}"></code>
                     </pre>
                </div>
                <div th:if="${not request.headers.isEmpty()}">
                    <h3>Headers</h3>
                    <div class="ui divider"></div>
                    <table>
                        <tr>
                            <th class="namecolumn">Name</th>
                            <th class="valuecolumn">Value</th>
                        </tr>
                        <tr th:each="header : ${request.headers}">
                            <td th:text="${header.key}"></td>
                            <td th:text="${header.value}"></td>
                        </tr>
                    </table>
                </div>
                <div th:if="${not request.queryParams.isEmpty()}">
                    <div class="ui divider"></div>
                    <h3>Query Parameters</h3>
                    <div class="ui divider"></div>
                    <table>
                        <tr>
                            <th class="namecolumn">Name</th>
                            <th class="valuecolumn">Value</th>
                        </tr>
                        <tr th:each="param : ${request.queryParams}">
                            <td th:text="${param.key}"></td>
                            <td th:text="${param.value}"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <div class="spacer"></div>
    <div class="flex-menu-container" th:if="${pageCount} > 1">
        <div class="ui pagination menu flex-menu-item">
            <div th:hidden="${currentPage.number} == 0" class="item">
                <a th:if="!${currentPage.first}"
                   th:href="@{''(page=${currentPage.number} - 1 , limit=${currentLimit})}">&lt;&lt;</a>
            </div>
            <div class="item">
                <span th:text="${currentPage.number} + 1"></span><span>/</span><span
                    th:text="${currentPage.totalPages}"></span>
            </div>
            <div th:hidden="${currentPage.number} +1 > ${currentPage.totalPages}" class="item">
                <a th:if="!${currentPage.last}" th:href="@{''(page=${currentPage.number} + 1 , limit=${currentLimit})}">&gt;&gt;
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/semantic.min.js}" src="../public/js/semantic.min.js"></script>
<script th:src="@{/js/highlight.pack.js}" src="../public/js/highlight.pack.js"></script>
<script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script th:src="@{/js/websockets.js}" src="../public/js/main.js"></script>
</html>