<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" href="../public/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../public/css/main.css"/>
</head>
<body>
    <div class="ui container">
        <h1 th:text="'Bin ' + ${binName}+ ' settings'">Bin Settings</h1>
        <h3>Custom reply</h3>
        <form th:action="@{settings}" th:object="${reply}" method="post">
            <div class="ui form">
                <div class="ui labeled fluid input">
                    <div class="ui label">
                        Return Code
                    </div>
                    <div class="inline field">
                        <input th:field="*{code}" type="number" max="599" id="requestcode" maxlength="3" minlength="3"/>
                        <div class="ui left pointing label" id="requestdesc">
                            NOT_FOUND
                        </div>
                    </div>

                </div>
                <br/>
                <div class="ui labeled input">
                    <div class="ui label">Content-Type</div>
                    <input th:field="*{mimeType}"/>
                </div>
                <br/>
                <br/>
                <div class="field">
                    <label>Body</label>
                    <textarea rows="5" th:field="*{body}">
                    </textarea>
                </div>
                <button class="ui green submit button" type="submit">Save</button>
                <div class="ui red button" id="canceledit">Cancel</div>
            </div>
        </form>
    </div>
</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/semantic.min.js}" src="../public/js/semantic.min.js"></script>
<script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
</html>